html body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(255, 244, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
  padding-top: 7rem;
  display: flex; 
  justify-content: center;
  flex-direction: column;
}
.cartaz {
  padding-top: 2%;
  padding-left: 2%;
  font-size: 32px;
  font-weight: 800;
}
.cartaz #filmes_data{
  color: red;
}
.card_list{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 2%;

}
.card_list #close_icon{
  box-sizing: border-box;
  position: relative;
  left: 85%;
  width: 40px
}

.card_list #filme_img{
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
}
#card{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(144, 0, 211);
  border-radius: 6px;
  width: 300px;
}

#card #sinopse{
  display: flex;
  flex-direction: column;
  margin: 5%;

}
#card h2{
 font-size: 28px;
 text-align: center;
}

.tabela{
  display: flex;
  margin-top: 1%;
  width: 100%;
  justify-content: center;
margin-bottom: 5%;
}
.tabela tr td{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: white;
  font-weight: 800;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

#shrek {
  color: green;
}
#pr_filmes{
  color: red;
}
footer {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  justify-content: space-around;

}